<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Đăng ký</h3>
</div>
<div class="modal-body" id="modal-body">
    <form id="login-form-wrap" class="login collapse" method="post" name="Login" style="display:block;background:none">

        <p class="form-row form-row-first">
            <label for="username">
                Tên đăng nhập <span class="required">*</span>
            </label>
            <input type="text" id="username" name="username" class="input-text" ng-model="username" required>
            <span ng-show="Login.username.$error.required" class="text-danger">Tên đăng nhập không được để trống</span>
        </p>
        <p class="form-row form-row-last">
            <label for="password">
                Mật khẩu <span class="required">*</span>
            </label>
            <input type="password" id="password" name="password" class="input-text" ng-model="password" required ng-minlength="6" ng-maxlength="32">
            <span ng-show="Login.password.$dirty&&Login.password.$error.required" class="text-danger">Mật khẩu không được để trống</span>
            <span ng-show="Login.password.$dirty&&Login.password.$error.minlength" class="text-danger">Mật khẩu ít nhất có 6 ký tự</span>
            <span ng-show="Login.password.$dirty&&Login.password.$error.maxlength" class="text-danger">Mật khẩu nhiều nhất có 32 ký tự</span>
        </p>
        <div class="clear"></div>
        <p class="form-row form-row-last">
            <label for="password">
                Xác nhận mật khẩu <span class="required">*</span>
            </label>
            <input type="password" id="password" name="confirmpassword" class="input-text" ng-model="confirmpassword" data-password-verify="password" required>
            <span ng-show="Login.confirmpassword.$error.passwordVerify" class="text-danger">Mật khẩu xác nhận không đúng</span>
        </p>
        <div class="clear"></div>

        <p class="form-row">
            <input type="button" value="Đăng ký" name="login" class="btn btn-primary" ng-disabled="Login.$invalid" ng-click="register()">

        </p>
        <div class="clear"></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="quit()">Thoát</button>
</div>
